# Node.js dependencies
/node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
/dist/
/build/

# Jest test coverage
/coverage/

# ESLint cache
.eslintcache

# Babel cache
/.babel_cache

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor specific files
.vscode/
.idea/
*.swp

